*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  display: grid;
  justify-content: center;
}

.header {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  width: 90%;
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.3rem 0.7rem;
}

.logo-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.hamburger-menu {
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  margin-right: 1.5rem;
}

.hamburger-menu i {
  color: #157fd6;
}

.main {
  width: 420px;
  background: rgb(245, 245, 245);
  padding-top: 100px;
}

section {
  width: 90%;
  height: auto;
  margin: 0 24px 88px 24px;
}

a {
  color: rgb(70, 67, 67);
  text-decoration: none;
}

.headline {
  width: 420px;
}

.headline-container {
  margin-top: 50px;
  background: url("Images/backround-imag.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  width: 90%;
  padding: 4rem 2rem;
  gap: 3.6rem;
}

.headline-text {
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
}

.description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.social-icons-header {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-icons {
  display: flex;
  font-size: 20px;
  gap: 20px;
  color: #505f79;
  list-style: none;
  margin: -5px 0 0 -35px;
}

.social-icons .fa {
  color: #505f79;
}

.social-icons a {
  color: #505f79;
  width: 1.8rem;
  height: 1.87rem;
}

.course-header,
.header-image,
.portfolio-image {
  text-align: center;
  margin: 16px 12px;
}

.link-items,
.canopy {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  gap: 12px;
}

.link-items {
  color: #7a869a;
  margin-left: -20px;
}

.link-items li {
  list-style: none;
}

.card-body {
  text-align: start;
  margin-left: 10px;
}

.work-section,
.portfolio-dashboard,
.about-myself {
  border-radius: 15px;
  background: #fff;
  padding: 16px 0;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-left: 16px;
}

.canopy {
  color: #344563;
}

.image {
  width: 95%;
}

.work-description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 20px;
}

button {
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #396df2;
  cursor: pointer;
  margin: 28px 40px 40px 16px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 13px 23px;
}

button:hover {
  background: #7a8ec2;
  color: #172b4d;
}

.courses {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-left: -15px;
}

.course-list {
  display: flex;
  list-style: none;
  gap: 12px;
}

.courses-list {
  background: #edeef0;
  border-radius: 7px;
  padding: 5px 10px;
  margin-left: -5px;
}

.about-myself {
  border-radius: 0 65px 0 0;
}

.about-myself-header {
  padding: 24px;
}

.about-myself-header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 12px;
}

.about-myself-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.language-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 16px;
}

.language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 20px;
  gap: 10px;
  padding: 12px;
}

.social-icons-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 20px;
  text-transform: uppercase;
  margin-top: 0;
}

.social-icon {
  display: flex;
  font-size: 20px;
  gap: 20px;
  color: #505f79;
  list-style: none;
  margin-left: -10px;
}
